{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}
  <header>
    <h1>{{ title }}</h1>
    <a id="newRestaurant" href="/new">New Restaurant</a>
  </header>
  {% include "./nav.html" %}
  <main>
  {% if message %}
    <p>{{message}}</p>
  {% endif %}
  {% for restaurant in data %}
    <div class="col-third restaurantDivs">
      <a href="/restaurants/{{restaurant.restaurant_id}}">
        <div class="foods">
          <p>{{restaurant.name}}</p>
          <img src="{{restaurant.image}}">
          <p>{{restaurant.cuisine}}</p>
          <p>Rating: {{restaurant.average}}</p>
          <p>{{restaurant.city}}, {{restaurant.state}}</p>
        </div>
      </a>
      </div>
    {% endfor %}
  </main>




{% endblock %}
